.contt {
  margin: 5rem 0 7rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact-us-layout {
  width: 100%;
}
.contacts-email-heading {
  text-align: center;
  font-size: 4rem;
  font-family: "Bebas Neue", cursive;
}
.contacts-email-heading p {
  justify-content: center;
  font-size: 4rem;
  font-family: "Bebas Neue", cursive;
  align-content: center;
}

.contact-email {
  display: flex;
  justify-content: space-around;
}

.contact-email p {
  margin-left: 4.4rem;
  font-size: 2rem;
  font-family: "Bebas Neue", cursive;
}

.feedback {
  text-align: center;
  font-size: 4rem;
  justify-content: space-between;
  font-family: "Bebas Neue", cursive;
}
.close-btn {
  display: flex;
  justify-content: flex-end;
}

.tick-mark {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Bebas Neue";
  font-size: 2rem;
}
#tick {
  font-size: 5rem;
  margin: 2rem;
}
#feedbackform {
  display: flex !important;
  justify-content: center !important;
}

@media only screen and (max-width: 900px) {
  .contt {
    flex-direction: column;
  }
  .feedback {
    font-size: 2rem;
    padding: 0 1rem;
  }
  #feedbackform {
    padding: 0 2rem !important;
  }
  .tick-mark {
    flex-direction: column;
    text-align: center;
  }
}
