@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.footer-layout {
  background-color: #242424;
}

.footer {
  background-color: #242424;
  margin-top: 7rem;
  padding: 2rem 0 0 2.8rem;
  color: white;
  font-size: 1.4rem;
  font-family: "Bebas Neue", cursive;
  height: 30rem;
  width: 100%;
}
.footerMob {
  display: none;
}

.app-navs {
  display: flex;
  background-color: #242424;
  color: white;
  font-size: 3rem;
  text-align: center;
  font-family: "Bebas Neue", cursive;
  align-items: center;
}
.appnavssocials {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
}

.app-navs img {
  padding: 2rem;
  width: 12rem;
}

.copyright-text {
  font-family: "Mukta", sans-serif;
  font-size: 1rem;
  padding-left: 3rem;
  text-align: center;
}

.sm-handles {
  display: flex;
  align-items: center;
  font-family: "Mukta", sans-serif;
}

.sm-icons {
  cursor: pointer;
  padding-left: 1rem;
  padding-bottom: 0.2rem;
  font-family: "Mukta", sans-serif;
}

.sponsors {
  display: flex;
  justify-content: center;
  align-items: center;
}

.evil-oni-logo img {
  width: 10rem;
  margin: 0%;
  padding: 0;
}

.useful-links {
  display: flex;
  justify-content: space-around;
}

.useful-links ul {
  font-family: "Mukta", sans-serif;
}

.useful-links ul li {
  text-decoration: none;
  list-style-type: none;
  font-size: 1rem;
  color: white;
}

.cod-available li {
  font-family: "Mukta", cursive;
}

.end {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* @media (max-width: 1117px) {
  .footer {
    display: block;
  }
}
@media (max-width: 601px) {
  .footer {
    overflow: hidden;
  }
} */
@media (max-width: 900px) {
  .footer {
    display: none;
  }
  .footerMob {
    display: flex;
    flex-direction: column;
  }
  .useful-links {
    display: flex;
    background-color: #242424;
  }
  .appnavssocials {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-evenly;
    background-color: #242424;
  }
  .cod-available {
    margin-top: 1.3rem;
  }
  .sm-handles {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Mukta", sans-serif;
    color: white;
    background-color: #242424;
  }

  .sponsors {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #242424;
  }

  .copyright-text {
    background-color: #242424;
    color: white;
    padding: 0;
    font-family: "Mukta", sans-serif;
    font-size: 1rem;
    text-align: center;
  }
  .sm-icons {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 0rem;
    padding-bottom: 0rem;
    font-family: "Mukta", sans-serif;
  }

  .followUs {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
}
