.footer-layout {
  background-color: #242424;
}

.footer {
  background-color: #242424;
  margin-top: 7rem;
  padding: 2rem 0;
  color: white;
  font-size: 1.4rem;
  font-family: "Bebas Neue", cursive;
  height: 30rem;
  width: 100%;
}
.footerMob {
  display: none;
}

.app-navs {
  display: flex;
  background-color: #242424;
  color: white;
  font-size: 3rem;
  text-align: center;
  font-family: "Bebas Neue", cursive;
  align-items: center;
}
.appnavssocials {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
}

.app-navs img {
  padding: 2rem;
  width: 12rem;
}

.copyright-text {
  font-family: "Mukta", sans-serif;
  font-size: 1rem;
  text-align: center;
}

.sm-handles {
  display: flex;
  align-items: center;
  font-family: "Mukta", sans-serif;
}

.sm-icons {
  /* display: flex; */
  /* justify-content: center; */
  cursor: pointer;
  font-family: "Mukta", sans-serif;
  margin-right: 1rem !important;
}
.borderRed {
  border: 2px solid red;
}
.sponsors {
  display: flex;
  justify-content: center;
  align-items: center;
}
.first-sp-icon {
  margin-left: 1rem;
}
.sp-icons span {
  font-size: 2.5rem;
  padding: 0;
}
.evil-oni-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.evil-oni-logo img {
  width: 10rem;
  margin: 0%;
  padding: 0;
}

.useful-links {
  display: flex;
  justify-content: space-around;
}

.useful-links ul {
  font-family: "Mukta", sans-serif;
}

.useful-links ul li {
  text-decoration: none;
  list-style-type: none;
  font-size: 1rem;
  color: white;
}

.cod-available li {
  font-family: "Mukta", cursive;
}

.end {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* @media (max-width: 1117px) {
  .footer {
    display: block;
  }
}
@media (max-width: 601px) {
  .footer {
    overflow: hidden;
  }
} */
.rupee-symbol {
  font-size: 2.5rem;
  margin-right: 1rem;
}
.refresh-symbol {
  font-size: 2.5rem;
  margin-right: 1rem;
}

.gplay-icon {
  width: 9rem;
}
.appstore-icon {
  width: 8rem;
  margin-left: 0.5rem;
}
.visa-icon {
  font-size: 2.5rem !important;
  margin-right: 1rem !important;
  margin-left: 1rem;
}
.fedex-icon {
  margin-left: 1rem;
  font-size: 3.5rem;
  margin-right: 1rem;
}
.shipping-icons span {
  font-size: 2.5rem;
  margin-right: 1rem;
}

@media (max-width: 900px) {
  .footer-layout {
    margin-top: 2rem;
  }
  .footer {
    display: none;
  }
  .footerMob {
    display: flex;
    flex-direction: column;
  }
  .useful-links {
    display: flex;
    background-color: #242424;
    justify-content: center !important;
  }
  .useful-links ul {
    font-size: 0.5rem;
  }
  .appnavssocials {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-evenly;
    background-color: #242424;
  }
  .gplay-icon {
    width: 6.4rem;
  }
  .appstore-icon {
    width: 6rem;
    margin-left: 0.5rem;
  }
  .cod-available {
    font-size: 0.5rem;
    margin-top: 1.3rem;
  }
  .rupee-symbol {
    font-size: 1rem !important;
    margin: 0rem !important;
  }
  .refresh-symbol {
    font-size: 1rem !important;
    margin: 0 !important;
  }
  .sm-handles {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Mukta", sans-serif;
    color: white;
    background-color: #242424;
  }
  .end {
    flex-direction: column;
  }
  .sp-icons {
    display: flex;
  }
  .shipping-icons {
    display: flex;
  }
  .sponsors {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242424;
    flex-direction: column;
  }

  .copyright-text {
    background-color: #242424;
    color: white;
    padding: 0;
    font-family: "Mukta", sans-serif;
    font-size: 1rem;
    text-align: center;
  }
  .sm-icons {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 0rem;
    padding-bottom: 0rem;
    font-family: "Mukta", sans-serif;
    width: 100%;
  }
  .sm-icons span {
    font-size: 1rem;
  }
  .followUs {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
  }
  .sp-icons {
    justify-content: space-evenly !important;
    margin: 0;
    width: 100%;
  }
  .sp-icons span {
    font-size: 1rem;
    padding: 0;
    margin: 0;
  }
  .visa-icon {
    font-size: 1rem !important;
  }
  .fedex-icon {
    margin-left: 0;
    font-size: 1rem;
    margin-right: 0;
  }
  .shipping-icons span {
    font-size: 1rem;
    margin-right: 0;
    padding: 0;
  }
}
